body {
    font-family: 'Merriweather', sans-serif;

}

h1{

}

h2{

}

h3{
    text-decoration: underline;
}

.navbar-light .navbar-nav .nav-link {
    color: #D3374C !important;

}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}


.hero {
    display: flex;
    justify-content: center;
    width: 60%;
}

.dropdown-menu {
  left: -40px;
}

.backgroundFocus {
    background-color: #EFEDED;
}

.footer a {

}

